<div id="footer">
    <nav id="footer-nav">
        <span class="footer-nav-item"> <a href="index.html">Home</a>                  </span>
        <span class="footer-nav-item"> <a href="catalog.html">Catalog</a>             </span>
        <span class="footer-nav-item"> <a href="how_to_order.html">How to order</a>   </span>
        <span class="footer-nav-item"> <a href="faq.html">FAQ</a>                     </span>
        <span class="footer-nav-item"> <a href="contact.html">Contact</a>             </span>
    </nav>
    <div id="footer-contact">
        <span>Contact us at:</span>
        <span>info@laserbiolabs.com</span>
    </div>
    <span  id="footer-logo-cont">
        <img id="footer-logo" src="images/logo_LBL.png">
    </span>

</div>
