<nav id="header-nav">
    <span id="header-logo-cont">
        <img id="header-logo" src="images/logo_LBL.png">
    </span>
    <span class="header-nav-item"> <a href="index.html">Home</a>                  </span>
    <span class="header-nav-item dropbtn"> 
        <a href="catalog.html">Catalog  &#8628;</a>
        <div class="dropdown-content">
            <a href="catalog.html#matrix-kits">Matrix kits</a>
            <a href="catalog.html#bulk-matrix">Bulk Matrix</a>
            <a href="catalog.html#peptide-calibration-mixtures">Peptide calibration mixtures</a>
            <a href="catalog.html#protein-calibration-mixtures">Protein calibration mixtures</a>
            <a href="catalog.html#calibration-kits">Calibration kits</a>
            <a href="catalog.html#protein-trypsin-digest-kits">Protein trypsin digest kits</a>
            <a href="catalog.html#maldi-imaging-solutions">MALDI imaging solutions</a>
        </div>
    </span>

    <span class="header-nav-item"> <a href="how_to_order.html">How to order</a>   </span>
    <span class="header-nav-item"> <a href="faq.html">FAQ</a>                     </span>
    <span class="header-nav-item"> <a href="contact.html">Contact</a>             </span>
</nav>






