:root{
    --grey5: rgba(1,1,1,0.5);
    --grey8: rgba(1,1,1,0.8);
    --grey05: rgba(1,1,1,0.05);

    --main-yellow: rgb(255, 204, 0);
    --desat-black: rgb(17 24 39);

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a, a:visited, a:active{
    text-decoration: none;
    color: var(--grey5);
}
a:hover{
    color: var(--grey8);
}

h1{
    font-size: 3em;
    color: var(--desat-black);
}

/* GENERIC CONTAINERS */
.flex-cont-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-cont-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section{
    /* margin-top: 30px;*/
    margin: 10px 30px;
    /* border: 1px solid red;*/

}

/* PAGE-SPECIFIC */

nav{
    display: flex;
    /* border: 1px solid red;*/
}

#nav-logo-cont{
    min-width: 50px;
    min-height: 50px;
    padding: 5px;
    margin-right: 10px;
    /* border: 1px solid yellow;*/
}
#nav-logo{
    height: 50px;
    width: 50px;
}

#navbar-menu{
    display: flex;
    /* border: 1px solid green;*/
    justify-content: space-between;
}

.navbar-item {
    margin: 5px 10px;
    /* border: 1px solid blue;*/
    display: flex;
    align-items: center;
}

#home-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid green;*/
}
.subtext{
    /* margin-top: 30px;*/
    color: var(--grey5);
}
.color-subtext{
    color: var(--main-yellow);
}
#world-map-cont{
    display: flex;
    flex-direction: column;
    padding: 40px;
    /* border: 1px solid orange;*/
    /* background-image: url("images/composite.webp");*/
    /* background-position: center;*/
    /* background-size: cover;*/
    background-color: var(--grey05);
    min-height: 500px;
}


#client-world-map{
    width: 100%;
}
#client-gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red;*/
}
.client-logo-cont{
    height: 120px; 
    width: 150px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    filter: grayscale(1);
    background-color: rgb(1,1,1,0.1);
}
.client-logo{
    /* padding: 5px;*/
    max-width: 100px;
    max-height: 100px;
}

/* FOOTER  */

.footer{
    display: flex;
    border: 1px solid red;
    padding: 20px 40px;
    justify-content: space-between;
    background-color: var(--grey05);
}
.footer-section{
    display: flex;
    flex-direction: column;
    /* border: 1px solid green;*/
}
#footer-logo{
    height: 80px;
    width:80px;

/*.footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 50px;
    background-color: black;
    font-weight: 400;
    font-size: 16px;
    grid-column: 1/-1;
    grid-row:-2/-1;
    text-align: left;
    z-index: 43;
}

.footer-links{
    display: flex;
    flex-direction: column;
    grid-column: 1;
    justify-content: center;
    list-style: none;
    padding-bottom:5%;
    padding-left:40%;
    padding-top:5%;
}
.footer-links a,.footer-text li{
    color:white;
    text-decoration: none;
    font-size: 1.2em;
}
.footer-links li{
    margin-bottom:10px;  
}
.footer-text li{
    padding:3% 0px; 
}
.footer-text{
    grid-column: 2;
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    justify-content:center;
    padding:5%;
}

.footer-img-cont{
    display:flex;
    flex-direction: column;
    grid-column: 3;
    grid-row: 1;
    justify-content: center;
}
#footer-logo{
    height: 80px;
    width:auto;
}
.footer-copyright{
    display: flex;
    grid-column: 1/-1;
    grid-row: 2;
    justify-content: center;
    color: white;
    height:100%;
}
*/
