/* DEFINE THE VARIABLES */
:root{
    --row_height: 60px;
    --col_width: 60px;
    /* --col_num: calc(Window.innerwidth/60); */
    --col_num: 12;

    /* --vw_height: 90px;Fake value that will be overriden by the js script */
    /* --num_row: 100;Fake value that will be overriden by the js script */
}
*{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "Rubik Bold";
    src: url("css/fonts/Rubik-Bold.ttf");
}
@font-face {
    font-family: "Rubik Regular";
    src: url("css/fonts/Rubik-Regular.ttf");
}
@keyframes elastic_fall{
    0% {
        top:-20%;
        z-index:15;
        opacity:0;
    }
    1%{
        z-index:43;
    }
    100%{
        top:0%;
        opacity:1;
    }
}

body {
    /* font-family: "Poppins", sans-serif; */
    font-family: 'Roboto',sans-serif;
    /* font-size: 16px; */
}
.title{
    font-family: 'Rubik Bold',sans-serif;
    font-size: 35px; 
}
ul{
    margin-left:10px;
  }
/* [below] adds indentation inside a list (see matrix sub-section of Products page */
li>div{
    margin-left: 20px;
    padding-bottom: 10px;
 } 

/*------------------PAGES GENERAL LAYOUT  ------------------*/

/* MAIN GRID */
.container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr repeat(20,60px) 1fr;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100vw auto;
    /* border: solid;
    border-color: purple; */
}
/* DEFINE THE SIZE OF EACH PAGE (in px) AND NUMBER OF ROWS, row height is fixed in variables above */
/* BACKGROUNDS */

#ind-main-container{
    height: 4000px;
    grid-template-rows: repeat(52, var(--row_height)) auto 300px;
    background-image: url("images/backgrounds/bckg_tubes2_dim.webp");
}
#prod-main-container{
    height: 5500px;
    grid-template-rows: repeat(83, var(--row_height)) auto 300px;
    background-image: url("images/backgrounds/bckg_assay_dim.webp");
}
#faq-main-container{
    height: 3000px;
    grid-template-rows: repeat(45, var(--row_height)) auto 300px;
    background-image: url("images/backgrounds/bckg_tubes_spectre_cropped1.webp");
}
#res-main-container{
    height: 1000px;
    grid-template-rows: repeat(20, var(--row_height)) auto 300px;
    background-image: url("images/backgrounds/bckg_tubes3_cropped.webp");
}
#contact-main-container{
    height: 1000px;
    grid-template-rows: repeat(20, var(--row_height)) auto 300px;
    background-image: url("images/backgrounds/bckg_tubes_dim.webp");
    /* background-size:contain; */
}



/*===============================================================*/
/*----------------------- GENERIC ELEMENTS ----------------------*/
/*===============================================================*/
/* ----------------------- BACK TO TOP BUTTON ON ALL PAGES ----------------------- */
.backtotop{
    display: grid;
    width: 50px;
    height: 50px;
            align-items: center;
    justify-items: center;
    border-radius: 50%;
    background-color:black;
    z-index:300;
    transition: width 500ms, height 500ms, background-color 500ms;
            box-shadow: 2px 2px 20px rgba(53, 51, 51, 0.4);
    /* border:solid;
    border-color:red; */
}

/* btt stands for backtotop */
.btt-img{
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    width: 50%;
    height: 50%;
    border-radius: 50%;
     /* border:solid;
    border-color:red; */
}
/*we use a container to keep button centered when it expands when hovered*/
.btt-container{
    position:fixed;
    top:84vh;
    left:91vw;
    width:6vw;
    height: 13vh;
    display: grid;



            align-items: center;
    justify-items: center;
    z-index:250;
    /* border:solid;
    border-color:blue; */
}
.backtotop:hover{
    width: 75px;
    height: 75px;
    background-color: red;
}
.btt-link{
    text-decoration: none;
    outline: none;
    width: 100%;
    height:100%;
}

/*----------------------- TOP BANNER -----------------------*/
.top-banner{
    position: absolute;
    display:grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 1fr;

    justify-items: center;
    grid-column: 1/-1;
    grid-row: 1;
    background-color: rgba(0,0,0,1);
    position:sticky;
    top: 0;
    left: 0;
    z-index: 56;

    /* border: solid;
    border-color: blue; */
    
}


/*----------------------- NAV MENU -----------------------*/
.navbar{
    /* position: relative; */
    display: flex;
    grid-column: 3;
    width: 70%;
    align-items: center;
    justify-content: space-around;
    z-index: 57;
 
    /* border: solid;
    border-color:red;     */
}


.nav-links,.sub-nav-links{
    text-decoration: none;
    outline: none;
}

.nav-links{
    color: rgb(255,255,255);
    font-weight: 600;
    transition: color 400ms, background-color 400ms;
    width:inherit;
    display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
    
    /* border: solid;
    border-color:green;    */
}

.nav-links:hover{
    color: black;
    background-color: #f1f1f1;
}
.curr-nav-link{
    color: black;
    background-color: #f1f1f1;
}

/*----------------------- LOGO-----------------------*/

.logo-cont{
    position: absolute;
    grid-column: 1/1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    z-index: 57;

    /* border: solid;
    border-color: yellow; */
}

.LBL-small-logo{
    /* 
    margin:none; */
    height: 100%;
    width: 100%;
    padding: 2px;
}
/*----------------------- DROPDOWN MENU-----------------------*/

/* Dropdown Button */
.dropbtn {
    display: flex;
    height:100%;
            flex-grow: 1;

    /* border:solid;
    border-color:yellow; */   
}

.dropdown{
    display: flex;
            flex-grow: 1;
    height: 100%;

    /* border: solid;
    border-color: blue; */
}

.dropdown:hover a{
    background-color: #f1f1f1;
    color:black;
}
.dropdown-content {
    visibility: hidden;
    opacity: 0;
            transform: translateY(-10px);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;

    position: absolute;
    top: 60px;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 150;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd
}

.dropdown:hover .dropdown-content{
    visibility: visible;
    opacity: 1;
            transform: translateY(0%);
            transition-delay: 0s, 0s, 0.3s;
}


  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {background-color: #474646;} */

/*----------------------- ANCHORS -----------------------*/
/* anchors placed 1row above each subsection in order not to be masked by the navbar */
.link-anchor{
     /* z-index: 300;
    border: solid;
    border-color:red; */
    position: relative;
    top: calc(-1*var(--row_height)); 
}

 /*------------------DYNAMIC LINK BOXES ------------------*/

 .link-box{
    display: flex;
            align-items: center;
            justify-content:center;
    width: calc(var(--col_width)*5);
    height: calc(var(--row_height)*4);
    z-index: 25;

    /* border: solid;
    border-color:red; */
}

.sublink-box{
    display: flex;
    width:70%;
    height:70%;
    z-index: 56;

    border-radius: 25px;
            box-shadow: 2px 2px 20px rgba(71, 71, 71, 0.9);
    
    color: white;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    outline: none;
    background-size: cover;

    /* default color if image is unavailable */
    background-color: black;
    transition: width 300ms,height 300ms,font-size 300ms;   
            align-items: center;
            justify-content:center;
    text-align: center;
}

.sublink-box:hover{
    width: 80%;
    height: 80%;
    font-size: 2.3em;
    background-image:none!important;

}



/*===============================================================*/
/*-------------------------- HOME PAGE --------------------------*/
/*===============================================================*/


/*----------------------- WELCOME TEXT / IMAGE -----------------------*/

/* LBL LOGO */
.logo-cont-LBL2{ 
    /* display:grid; */
    grid-column: 4/-4;
    grid-row:3/span 4;
    z-index: 41;
    
    /* border: solid;
    border-color: green; */
}
#logo-LBL2{
    width:100%;
    height:auto;
}

/* WELCOME TEXT */
.welcome-txt{ 
    font-size: 2.8em;
    font-weight: 900;
    grid-column: 2/-2;
    grid-row:7/span 2;
    z-index: 55;
    line-height: 1.5;
    text-align: center;
    padding: 30px 0px;
    
    /* border: solid;
    border-color: red; */
}



/*---------------------------------- ABOUT -----------------------------------*/

.about-container{
    /* position: relative; */
    display: grid;
    grid-column: 2/-2;
    grid-row:12/span 11;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    z-index: 42;
/*    
    border: solid;
    border-color: red; */
}

/* .about-container > *:nth-child(1){
}

.about-container > *:nth-child(2){
}

.about-container > *:nth-child(3){
}

.about-container > *:nth-child(4){
}

.about-container > *:nth-child(5){
}

.about-container > *:nth-child(6){
} */
.prot-bckg{
    position: relative;
    z-index:42;
    background-image: url("images/prot_dim1_grey.webp");
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: auto 110%; */
    grid-column:1/-1;
    grid-row:12/span 14;
    /* border: solid;
    border-color: green; */
}
.about-title{
    font-size: 3.3em;
    font-weight: 900;
    z-index: 41; 
    /* line-height: 1.5; */
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;

    /* border: solid;
    border-color: green; */
}
#about-anchor{
    /* grid-column: 1;
    grid-row:1; */
    position: relative;
    top:-60px;
    z-index: 500;


    /* border: solid;
    border-color: blue; */
}
#about-us1, #about-us2{
    /* position: absolute; */
    display: flex;
            align-items: center;
    font-size: 1.5em;
    font-weight: 600;
    z-index: 41;
    line-height: 1.5;
    text-align: justify;
    padding: 0px 50px;

    /* border: solid;
    border-color: blue; */
}
#about-us1{
    grid-column: 1/ span 2;
    grid-row:2;
    text-align:justify;
}
#about-us2{
    grid-column: 1;
    grid-row:3;
}
/* ABOUT PICTURES */

/* .about-us-img{
    width:100%;
    height: auto;
}
#ab-img1{
    box-shadow: none;
    padding: none;
    width: 70%;
}
#ab-cont-img1{
    grid-column: 1;
    grid-row:2;
    display:flex;
    align-items: center;
    justify-content: center;
    height: auto; 
    z-index: 46;

} */
#ab-cont-img2{
    display: block;
    grid-column: 2;
    grid-row:3;
    z-index: 47;
    width: 100%;
    height: auto;
            justify-content: center;

    /* border: solid;
    border-color: yellow; */
    
}
#ab-img2{
            box-shadow: 2px 2px 20px rgba(53, 51, 51, 0.9);
    padding: 0;
    width: 100%;
    height:auto;
}
/* #ab-cont-img3{
    grid-column: 2;
    grid-row:3;
    z-index: 45;
    border: solid;
    border-color: yellow;
} */
/* BLANK BACKGROUND 1: LOW : Home, Products pages*/
.blanck-bckg1{
    background-color: rgb(255,255,255);
    grid-column:1/-1;
    grid-row:11/-1;
    z-index:40;
    /* border-top: 5px solid rgba(0,0,0,0.5); */
}

/* BLANK BACKGROUND 2: HIGH : Order, Resources, Contact pages */
.blanck-bckg2{
    background-color: rgb(255,255,255);
    grid-column:1/-1;
    grid-row:7/-1;
    z-index:40;
}



    
/*----------------------- WHY CHOOSE US -----------------------*/
/* Pour change la taille des boites de façon dynamique, nester un grid ou un flexbox dans une grid area 
et définir la taille initiale (avant hover) à 80% de la grid area par ex. puis passer à 100% quand hover */


/* btt stands for backtotop */
.about-img{
    display: block;
    width: 80%;
    height: 80%;
    border-radius: 50%;
     /* border:solid;
    border-color:red; */
}


.world-map-title{
    font-size: 3.3em;
    font-weight: 900;
    position:absolute;
    top: 80px;
    z-index: 43;
    color:white;
    width: 100%;
    text-align: center;
}
.world-map-cont{
    display:flex;
            flex-direction: column;
    grid-column: 1/-1;
    grid-row: 26/span 29;
    z-index: 41;
    position: relative;
    border:0px;

    /* border:solid;
    border-color:green; */
}


.world-map-img1 {
    position:relative;
    width: 100%;
    height:auto;
    border: 0px;
} 
.world-map-img2 {
    position: absolute;
    top:0px;
    left:0px;
    opacity: 0;
    width: 100%;
    height:auto;
    border: 0px;
}
.anim-anchor{
    width: 100%;
    position: relative;
    top:50%;
}

.world-map-img2.start{
    z-index: 43;
    opacity: 1;
    /* position: relative; */
    /* specify cubic bezier */
    
    animation: elastic_fall 1s ease-in-out;

        /* border:solid;
    border-color:green; */
}

/*
cacher icones dans le z index
monte en haut du z index à 1% de l'animation
position: top: -100px to top:0px
ENSUITE (en meme temps): 
width 100% to width 110% & back
height 100% to height 110% & back

*/
/* toutes les icones sont à des positions diff, on les fait tomber 
de la même hauteur donc elles tomberont pas à la même vitesse */

.theytrustus{
    display: flex;
            flex-direction: column;

    z-index: 41;

    /* border:solid;
    border-color:red; */
}

.theytrustus-gallery{
    display:flex;
    width: 100%;
    height:100%;
        flex-wrap:wrap;
        align-content: center;
            align-items: center;
            justify-content: center;
    justify-items: center;

    /* border: solid;
    border-color:purple; */
}
.theytrustus-img{
    height: 80px;
    width: auto;
}
.theytrustus-cont{
padding: 20px 50px;
}
.theytrustus-title{
    font-size: 3.3em;
    font-weight: 900;
    text-align: center;
    padding-bottom: 80px;
    padding-top:80px;

}
/*----------------------- FOOTER -----------------------*/

.footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 50px;
    background-color: black;
    font-weight: 400;
    font-size: 16px;
    grid-column: 1/-1;
    grid-row:-2/-1;
    text-align: left;
    z-index: 43;
}

.footer-links{
    grid-column: 1;
    list-style: none;
    display: flex;
            flex-direction: column;
            justify-content: center;
    padding-top:5%;
    padding-bottom:5%;
    padding-left:40%;
}
.footer-links a,.footer-text li{
    color:white;
    text-decoration: none;
    font-size: 1.2em;
}
.footer-links li{
      margin-bottom:10px;  
}
.footer-text li{
    padding:3% 0px; 
}
.footer-text{
    grid-column: 2;
    color: white;
    display:flex;
            flex-direction: column;
            align-items: center;
    list-style: none;
            justify-content:center;
    padding:5%;
}

.footer-img-cont{
    display:flex;
            flex-direction: column;
    grid-column: 3;
    grid-row: 1;
            justify-content: center;
    /* border:solid;
    border-color:green; */
}
#footer-logo{
    height: 80px;
    width:auto;
}
.footer-copyright{
    display: flex;
    grid-column: 1/-1;
    grid-row: 2;
            justify-content: center;
    color: white;
    height:100%;
}

/*===============================================================*/
/*------------------------ PRODUCT PAGE -------------------------*/
/*===============================================================*/

/*------------------------ PRODUCT MENU -------------------------*/

/* -------------------GRID PLACEMENT OF LINKS ----------------------*/
/* [TODO] POSSIBLE TO REMOVE THE REDUNDANT CODE BELOW? */

.prod-links-cont{
    display: grid;
    grid-column: 3/-3;
    grid-row: 2/11;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 1fr;

    /* border: solid;
    border-color: red; */
}

.prod-links-cont > *:nth-child(2){
} */
.sub-prod-links-cont1, .sub-prod-links-cont2{
    display: flex;
        flex-shrink: 0;
        justify-content: space-around;
        align-content: center;
    justify-items: center;
    z-index: 50;
}
.sub-prod-links-cont1{
    grid-row:1;
}
.sub-prod-links-cont2{
    grid-row:2;
}
.flex-buffer{
    width: 120px;
    height: calc(var(--row_height)*4);
    /* border: solid;
    border-color: green; */
}

.svg-cont{
    width: 100%;
    height: 100%;
    z-index:250;
    background-size: cover;
    /* border: solid;
    border-color: red; */
}
/* Text (as a vector) for the buttons */
#maldi-mat-btt{
    background-image: url("images/textures/maldi_mat.svg");
}
#calib-btt{
    background-image: url("images/textures/calibrants.svg");
}
#digests-btt{
    background-image: url("images/textures/Digests.svg");
}
#imaging-btt{
    background-image: url("images/textures/Imaging.svg");
}
#customkits-btt{
    background-image: url("images/textures/Custom_kits.svg");
}

/* Background-texture for the buttons */
#sbpr-box1{
    background-image: url("images/textures/AAA1.webp");
}
#sbpr-box2{
    background-image: url("images/textures/AAA2.webp");
}
#sbpr-box3{
    background-image: url("images/textures/AAA3.webp");
}
#sbpr-box4{
    background-image: url("images/textures/AAA4.webp");
}
#sbpr-box5{
    background-image: url("images/textures/AAA5.webp");
}


/* files for download */
#price-list-dl{
    background-image: url("images/textures/price_list_download.svg");
}
#catalog-dl{
    background-image: url("images/textures/catalog_download.svg");
}

/*------------------------ PRODUCT SECTION -------------------------*/
#meta-prod-cont{
    display: flex;
            flex-flow: column;
    grid-column: 3/-3;
    grid-row:12/span 70;
            justify-content: space-around;
    z-index:43;

    /* border: solid;
    border-color: orange; */
}
.prod-anchor{
    grid-column:1;
    grid-row:1;

    /* border: solid;
    border-color: black; */
}
.subgrid-container{
    display: grid;
    z-index:45;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:100px auto;
    border: none;
    border-radius: 15px;
    padding-bottom: 150px;

}

.prod-descr{
    text-align:justify;
}

.prod-descr li{
    text-align:left;
}

.prod-color1{
    background-image: linear-gradient(to bottom , rgba(40, 0, 184, 0.15),   rgba(40, 0, 184, 0.03));
}
.prod-color2{
    background-image: linear-gradient(to bottom , rgba(194, 18, 18, 0.15),   rgba(194, 18, 18, 0.03));
}

.subgrid-text-cont{
    display: flex;
            flex-flow: column wrap;
    grid-column: 1;
    grid-row:2;
    font-size: 1.2rem;
    padding-top: 40px;
    padding-bottom:40px;
    padding-left:100px;
    padding-right:0px;

    font-weight:400;

    /* border:solid;
    border-color:blue;    */
}

.img-link-cont{
    display: flex;
            flex-flow: column wrap;
            align-items: center;
        justify-content: space-around;
    grid-column: 2;
    grid-row:2;

    /* border:solid;
    border-color:green; */
}
.subgrid-title-cont{
    grid-column: 1;
    grid-row:1;
    text-align:center;
    padding-top: 50px;

    /* border:solid;
    border-color:purple; */
}
.prod-img-cont{
    display: flex;
            justify-content: center;

    /* border:solid;
    border-color:red; */
}
.prod-img{
    box-shadow: 2px 2px 20px rgba(71, 71, 71, 0.9);
    width: 70%;
    height: auto;
    margin: 20px;
    
}

.prod-link-cont{
    text-align:center;
    width: 50%;
    height: 4em;
    
}

.catalog-link{
    display: block;
    border-radius: 10px;

    color:white;
    border: solid;
    border-color:white;
    background-color:black;

    font-size: 1.5em;
    /* font:1.5em"Patua One"; */
    font-weight: 700;
    text-decoration: none;
    outline: none;
    padding: 15px;
    transition: background-color 0.3s, border-color  0.5s, color 0.5s;
}
.catalog-link:hover{
    background-color: rgba(0,0,0,0);
    color:black;
    border-color:black;
}



/*===============================================================*/
/*------------------------ FAQ PAGE -------------------------*/
/*===============================================================*/



.faq-links-container{
    grid-column: 14/-2;
    grid-row: 9/span 8;
    display: flex;
            flex-flow: column;
        flex-shrink: 0;
        justify-content: space-around;
    /* align-content: center;
    justify-items: center; */
            align-items: center;
    z-index: 50;

    /* border: solid;
    border-color: red; */
}

#sbcat-box{
    background-color: black;
}
#sbprice-box{
    background-color: black;

}

/* OBSOLETE ONCE FULL PICTURE IN BUTTON */
.dl-icon{
    position: relative;
    width:30%;
    height:70%;

    /* border: solid;
    border-color: green;
}
.dl-text{
    position: relative;
    top:10%;
    /* border: solid;
    border-color: red; */
}

/*-------------------------- HOW TO ORDER --------------------------*/
#howto, #faq {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns:auto;
    border-radius: 15px;
    border:none;
    font-size: 1.2rem;

    /* border: solid;
    border-color: yellow; */
}
#howto{
    grid-column:2/span 12;
    grid-row:8/span 12;
    /* background-color: rgba(90, 74, 182, 0.15);     */
    background-image: linear-gradient(to bottom , rgba(90, 74, 182, 0.15),  rgba(90, 74, 182, 0.03));
}
#hwto-title{
    text-align: center;
    padding: 30px;

    /* border: solid;
    border-color:red; */
}
#hwto-text{
    padding: 50px;

    /* border: solid;
    border-color: green; */

}

/*-------------------------- FAQ --------------------------*/

#faq{
    grid-column:2/-2;
    grid-row:22/span 22;
    background-image: linear-gradient(to bottom ,  rgba(206, 124, 2, 0.15),  rgba(206, 124, 2, 0.03));

}
#faq-title{
    text-align: center;
    padding: 30px;

    /* border: solid;
    border-color:red; */
}
#faq-text{
    padding: 50px;
    padding-left:100px;
    text-align:justify;

    /* border: solid;
    border-color: green; */
}


/*===============================================================*/
/*------------------------ RESOURCES PAGE -------------------------*/
/*===============================================================*/

#res-back-wh{
    grid-row:8/22;
}
#res-box1{
    grid-column:5/span 6;
    grid-row:2/span 5;  
}
#res-box2{
    grid-column:11/span 6;
    grid-row:2/span 5;  
}
#sbres-box1{
    background-image: url("images/texture1.webp");
    /* background-size: cover; */
}
#sbres-box2{
    background-image: url("images/texture1.webp");
    /* background-size: cover; */
}
#linksandres{
    z-index: 40;
    border-radius: 10px;
    grid-column:2/-2;
    grid-row:8/span 9;
    grid-template-rows: auto auto;
    grid-template-columns:auto auto;
    background-image: linear-gradient(to bottom,  rgba(66, 66, 66, 0.15),  rgba(66, 66, 66, 0.03));
    padding:0px;
}

#linksandres-title{
    grid-column: 1/-1;
    text-align: center;
}

/*===============================================================*/
/*------------------------ CONTACT PAGE -------------------------*/
/*===============================================================*/


#contactinfo{
    grid-column:2/-2;
    grid-row:8/span 7;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:1.5fr 1fr;
    background-image: linear-gradient(to bottom,  rgba(66, 66, 66, 0.15),  rgba(66, 66, 66, 0.03));
    padding:0px;
}

#continfo-title{
    grid-column: 1/-1;
    text-align: center;
}
.mailto-cont{
    display:flex;
            align-items: center;
            justify-content: center;
    grid-column: 2;
    grid-row: 2;
    padding-bottom: 100px;
}
.mailto-btt{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration:none;
    border-radius:15px;
    box-shadow: 2px 2px 20px rgba(53, 51, 51, 0.4);
    width: 20em;
    height:5em;
    background-color:black;
    color:white;
    border: solid;
    border-color:black;
    border-width:5px;
}
.mailto-btt:hover{
    background-color:rgba(0, 0, 0, 0);
    color:black;
    border-color:black;
}
.mailto-text{
    font-size: 2em;
}
.contact-details{
    grid-column: 1;
    grid-row: 2;
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    /* border:solid;
    border-color:green; */
}
.contact-details-names{
    grid-column: 1;
    grid-row:1;
    margin-left: 4em;
}
.contact-details-content{
    grid-column: 2;
    grid-row:1;
}
.contact-details-content,.contact-details-names{
    font-size:1.5em;
    font-weight: 700;
    padding:30px 0px;
    /* border:solid;
    border-color:red; */
}
.contact-details ul{
    list-style: none;
}
.contact-details li{
    padding-bottom: 10px;
}
#adress-target{
    padding-bottom:20px;
}
