:root{
    --foreground: oklch(0.145 0 0);
    --light-blue: #E7EEFF;
    --grey-text-1: oklch(0.21 0.034 264.665);
    --grey-text-4: oklch(0.446 0.03 256.802);


    --grey-border-1: #E5E5E5;

    --grey-text: rgb(89, 89, 89);
    --grey-hover: rgb(100, 100, 100);
    --yellow: rgb(255, 219, 32);
    --orange: rgb(237, 88, 41);
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a, a:visited, a:active{
    text-decoration: none;
    color: var(--grey-text);
}
a:hover{
    color: rgb(0,0,0);
}

/*
section{
    padding: 200px 100px;
    display: flex;
    flex-direction: column;
}
*/
/*------------ COLOR HELPERS -------------*/

.bg-color-light-blue{
    background-color: var(--light-blue);
}
.bg-color-white{
    background-color: #FFF;
}

.text-color-black{
    color: #000;
}
.text-color-grey-1{
    color: var(--grey-text-1);
}
.text-color-grey-4{
    color: var(--grey-text-4);
}

.border-color-grey-1{
    border-color: var(--grey-border-1);
}

.line-height-big{
    line-height: 2rem;
}

.border-radius-8{
    border-radius: 8px;
}



/*------------ HEADER -------------*/

#navbar-container, 
.navbar{
    background-color: white !important;
    border-bottom-color: rgba(0, 0, 0, 0.1);
}
/*------------ SECTIONS -------------*/
/*
.section-title{
    font-size: 60px;
    margin: 10px 0;
}
.highlight{
    color: var(--yellow);
    font-weight: bold;
    font-size: 25px;
}
.subtext{
    font-size: 22px;
}
.right-subtext{
    text-align: right;
}

.section-left{
}
.section-right{
    align-items: flex-end;
}
.section-center{
    align-items: center;
}
.background-map{
    background-image: url("images/worldmap.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.background-protein{
    background-image: url("images/prot_dim1_grey.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
*/

/*------------ CLIENT GALLERY -------------*/
.client-img {
    height: 150px;
    width: 150px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.client-img:hover{ 
    cursor: pointer;
}

.client-img .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    filter: brightness(0.5) blur(1px);
    transition: transform 0.3s ease;
}

.client-img .text-normal,
.client-img .text-hover {
    position: relative;
    z-index: 1;
    color: white; 
}

.client-img .text-hover {
    display: none;
}

.client-img:hover .background {
    transform: scale(1.1);
    filter: none;
}

.client-img:hover .text-normal {
    display: none;
}

.client-img:hover .text-hover {
    display: block;
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    margin: 2px;
}
/*------------ FOOTER -------------*/

#footer{
    display: flex;
    justify-content: space-between;
    /*border: 1px solid blue;*/
    color: var(--grey-text);
    padding: 0 50px;
}

#footer-nav{
    display: flex;
    flex-direction: column;
    /*border: 1px solid red;*/
    margin: 15px;
}
.footer-nav-item{
    margin: 5px;
}
#footer-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: 1px solid orange;*/
}

#footer-logo-cont{
    margin: 15px;
    /*border: 1px solid green;*/
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#footer-logo{
    max-width: 80px;
    max-height: 80px;
}

/*------------ FAQ -------------*/

details.panel summary::-webkit-details-marker {
  display: none;
}
details.panel summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
details.panel[open] .panel-heading .icon {
  transform: rotate(180deg);
}
details.panel .panel-block {
  border-top: none; /* Remove top border to blend with heading */
}

/*.faq-section{
    margin: 15px;
}
.faq-title{
    color: var(--orange);
    font-size: 23px;
    margin: 15px 0;
}
.faq-sep{
    border: 1px solid var(--orange);
    opacity: 0.1;
    margin: 15px 0;
}
*/

/*------------ BLOG -------------*/
.featured-card {
    display: flex;
}
/*------------ CATALOG -------------*/
.catalog-card-description {
    display: flex!important;
    height: 150px !important; /* Fixed height for the entire card; adjust as needed */
    overflow: hidden !important; /* Prevent content from spilling out of the card */
    text-overflow: ellipsis !important;
}
    /*
img[src="null"]{
    display: none;
}
.product-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-section-title{
    font-size: 40px;
    margin-bottom: 15px;
}
.product-text-img-title-cont{
    display: flex;
    margin: 15px 50px;
}
.product-text-title-cont{
    display: flex;
    max-width: 600px;
    margin-right: 20px;
    flex-direction: column;
    justify-content: center;
}
.sidetext{
    margin-left: 15px;
    margin-top: 15px;
}
.product-cont{
    width: 800px;
    padding: 15px;
    margin: 5px 0;
    background-color: rgb(253, 249, 249);
}
.title-price-cont{
    display: flex;
    justify-content: space-between;
}
.product-title{
    font-size: 25px;
    font-weight: 700;
}
.product-price{
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 131,101);
}
.product-graph-cont{
    max-height: 200px;
    display: flex;
    justify-content: center;
}
.product-graph{
    max-width: 350px;

}
*/

/*------------ CATALOG -------------*/
#maldi-table td{
    padding: 0 50px;
}
.maldi-product-title{
    margin-bottom: 15px;
}
