{{ define "main" }}
    <div id="home-banner" class="section">
        <h1> Laserbiolabs </h1>
        <!--<h3> Serving the mass spectrometry community since 2001 </h3> -->

        <div class="subtext">LaserBio Labs was founded in 2001, with the goal of providing high-quality and affordable solutions for MALDI-TOF mass spectrometry to laboratories worldwide. Our mission is to bring to our customers products of the highest purity tailored to their exact needs.
        </div>
    </div>

    <div id="world-map-cont" class="section">
        <h3 class="color-subtext">A global network of clients</h3>
        <h1 id="world-map-title">500+ customers<br> around the world</h1>
        <div class="subtext">
            We have 21 years of experience designing <br>kits and custom
            solutions.
        </div>

        <!-- <img id="client-world-map" src="img/composite.webp" alt="world map of clients">-->
    </div>

    <div class="flex-cont-col section">
        <h3 class="color-subtext">High-quality reagants for research</h3>
        <h1>They all trust us.</h1>
        <div class="subtext">We pride ourselves on being available for our
        customers</div>
        <div id="client-gallery">
            <div class="client-logo-cont"> <img class="client-logo" src="img/clients/biorad-alpha.webp" alt="biorad logo"> </div>


            <div class="client-logo-cont"> <img class="client-logo" src="img/clients/cnrs-alpha.webp" alt="cnrs logo"></div>
            <div class="client-logo-cont"> <img class="client-logo" src="img/clients/cold_spring_harbor_lab-alpha.webp" alt="cold spring harbor lab logo"></div>
            <div class="client-logo-cont"> <img class="client-logo" src="img/clients/john_hopkins-alpha.webp" alt="john hopkins logo"></div>
            <div class="client-logo-cont"> <img class="client-logo" src="img/clients/kratos-alpha.webp" alt="kratos analytical logo"></div>
            <div class="client-logo-cont"> <img class="client-logo" src="img/clients/monashuni-alpha.webp" alt="monash university logo"></div>
            <div class="client-logo-cont"> <img class="client-logo" src="img/clients/nus-alpha.webp" alt="NUS logo"></div>
            <div class="client-logo-cont"> <img class="client-logo" src="img/clients/sciex-alpha.webp" alt="SCIEX logo"></div>
            <div class="client-logo-cont"> <img class="client-logo" src="img/clients/shimadzu-alpha.webp" alt="Shimadzu logo"></div>
            <div class="client-logo-cont"> <img class="client-logo" src="img/clients/sigma-alpha.webp" alt="Sigma-Aldrich logo"></div>
            <div class="client-logo-cont"> <img class="client-logo" src="img/clients/thermo-alpha.webp" alt="ThemoFisher logo"></div>
            <div class="client-logo-cont"> <img class="client-logo" src="img/clients/tsri-alpha.webp" alt="Scripps logo"></div>
            <div class="client-logo-cont"> <img class="client-logo" src="img/clients/ucsf-alpha.webp" alt="UCSF logo"></div>
            <div class="client-logo-cont"> <img class="client-logo" src="img/clients/vanderbilt_uni-alpha.webp" alt="Vanderbilt University logo"></div>
            <div class="client-logo-cont"> <img class="client-logo" src="img/clients/wwr-alpha.webp" alt="VWR logo"></div>
            <div class="client-logo-cont"> <img class="client-logo" src="img/clients/novonordisk-alpha.webp" alt="NovoNordisk logo"></div>
        </div>
    </div>

{{ end }}
