<div class="footer">
    <!-- <ul class="footer-links">-->
    <div class="footer-section">
        <a href="index.html">Home</a>
        <a href="products.html">Products</a>
        <a href="faq.html">Order</a>
        <a href="resources.html">Resources</a>
        <a href="contact.html">Contact</a>
    </div>
    <!-- <ul class="footer-text">-->
    <div class="footer-contact footer-section">
        <span >Contact us:</span>
        <span >+33 9 84 23 77 19</span>
        <span>info@laserbiolabs.com</span>
    </div>

    <!-- <div class="footer-img-cont">-->
    <div class="footer-section">
        <img id="footer-logo" src="img/logo_LBL.svg" alt="Laserbiolabs logo">
    </div>

    <!-- <div class="footer-copyright">-->
    <!-- <span>Copyright ©2022 All rights reserved</span>-->
    <!-- </div>-->
</div>
