{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        {% if is_overview %}
        <h1 class="title is-2">Blog</h1>
        <div class="columns is-multiline">
            {% for post in posts %}
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="{{ post.image }}" alt="{{ post.title }}">
                        </figure>
                    </div>
                    <div class="card-content">
                        <h3 class="title is-5"><a href="/blog/{{ post.id }}">{{ post.title }}</a></h3>
                        <p>{{ post.excerpt }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <a class="button is-light mb-6" href="/blog"><span class="icon"><i class="fas fa-arrow-left"></i></span><span>Back to Blog</span></a>
        <h1 class="title is-2">{{ post.title }}</h1>
        <div class="content" v-html="{{ post.content }}"></div>
        {% endif %}
    </div>
</section>
{% endblock %}
