{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-2">Contact Us</h1>
        <div class="columns">
            <div class="column">
                {% for info in contact %}
                <div class="mb-6">
                    <h3 class="title is-4">{{ info.title }}</h3>
                    {% for detail in info.details %}
                    <p>{{ detail }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <div class="column">
                <form action="mailto:info@laserbiolabs.com" method="post" enctype="text/plain">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" name="name">
                        </div>
                    </div>
                    <!-- Add other fields similarly -->
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
