{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-2">Frequently Asked Questions</h1>
        {% for category in faq %}
        <h2 class="title is-3 mt-8">{{ category.category }}</h2>
        {% for q in category.questions %}
        <details class="mb-4">
            <summary class="has-text-weight-bold">{{ q.question }}</summary>
            <p class="pl-4 pt-2">{{ q.answer }}</p>
        </details>
        {% endfor %}
        {% endfor %}
    </div>
</section>
{% endblock %}
