{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block page_content %} 

<section class="section is-medium">
    <div class="grid">
        <div class="cell">
            <h1 class="title is-1">Precision MALDI-TOF MS Calibration Standards</h1>
            <h4 class="subtitle">Leading manufacturer of high-quality calibration kits for MALDI mass spectrometry. Trusted by laboratories worldwide for accurate and reliable results.</h4>
            <a href="/catalog" class="button">View Catalog</a>
            <a href="/contact" class="button">Contact us</a>

        </div>
        <div class="cell"> 
            <img src="static/images/landing_page_pipette.jpeg"/>
        </div>
    </div>
</section>

<section class="section is-medium">
    <div class="container">
        <h1 class="title is-2 m-3 has-text-centered">Why Choose Laser Bio Labs?</h1>
        <h4 class="subtitle is-4 m-5 has-text-centered"> We provide the highest quality calibration standards with unmatched precision and reliability </h4>
    </div>
    <div class="container">
        <div class="grid">
            <div class="cell">
                <div class="card">
                  <div class="card-image">
                    <figure class="image is-128x128">
                      <img src="https://bulma.io/assets/images/placeholders/128x128.png" alt="Placeholder image"/>
                    </figure>
                  </div>
                </div>
            </div>
            <div class="cell">
                <div class="card">
                  <div class="card-image">
                    <figure class="image is-128x128">
                      <img src="https://bulma.io/assets/images/placeholders/128x128.png" alt="Placeholder image"/>
                    </figure>
                  </div>
                </div>
            </div>
            <div class="cell">
                <div class="card">
                  <div class="card-image">
                    <figure class="image is-128x128">
                      <img src="https://bulma.io/assets/images/placeholders/128x128.png" alt="Placeholder image"/>
                    </figure>
                  </div>
                </div>
            </div>
            <div class="cell">
                <div class="card">
                  <div class="card-image">
                    <figure class="image is-128x128">
                      <img src="https://bulma.io/assets/images/placeholders/128x128.png" alt="Placeholder image"/>
                    </figure>
                  </div>
                </div>
            </div>
    </div>
</section>

<!-- -->
<section class="section is-flex is-flex-direction-row">
    <div class="container">
        <img class="client-img" src="static/images/client--biorad-grey.png">
    </div>
    <div class="container">
        <h1 class="title is-2 m-3">About LaserBio Labs</h1>
        <div class="">  
            With over a decade of experience in mass spectrometry, Laser Bio Labs has been at the
            forefront of developing precision calibration standards for MALDI-TOF MS
            applications.<br><br>

            Our team of scientists and engineers work tirelessly to ensure that every calibration
            kit meets the highest standards of quality and precision, enabling researchers and
            analysts worldwide to achieve accurate and reproducible results.<br><br>

            From pharmaceutical research to clinical diagnostics, our calibration standards are
            trusted by leading institutions globally for their reliability and consistency.<br><br>
        </div>
    </div>
</section>


<section class="section has-text-centered">
    <div class="container is-flex is-flex-direction-column is-align-content-center is-justify-items-center">
        <h1 class="title is-2 m-3 has-text-centered">They trust us</h1>
        <!-- gallery -->
        <div class="has-text-centered">
            Join hundreds of leading organizations who trust Laser Bio Labs for their mass spectrometry calibration needs 
        </div>
        <a href="/contact" class="button">Become a partner</a>
    </div>

</section>

<section class="section-left background-protein">
    <h2 class="highlight">Serving science since 2001</h2>
    <h1 class="section-title">LaserBio Labs</h1>
    <div class="subtext">
        LaserBio Labs was founded in 2001, with the goal of providing high-quality and <br>
        affordable solutions for MALDI-TOF mass spectrometry to laboratories worldwide.<br>
        Our mission is to bring to our customers products of the highest purity tailored to<br>
        their exact needs. 
    <div>
</section>

<section class="section-right background-map">
<h2 class="highlight">A global network of clients</h2>
<h1 class="section-title">500+ customers<br>around the world</h1>
<div class="subtext right-subtext">
    LaserBio Labs is located in the Sophia Antipolis research<br>
    cluster near Nice, on the French Riviera. We serve<br>
    mass spectrometry laboratories throughout the world.
<div>
</section>

<section class="section-center">
<h2 class="highlight">High-quality reageants for research</h2>
<h1 class="section-title">They all trust us</h1>
<div id="client-gallery">
    
    
    <img class="client-img" src="static/images/client--biorad-grey.png">
    <img class="client-img" src="static/images/client--cnrs-grey.png">
    <img class="client-img" src="static/images/client--eth-grey.png">
    <img class="client-img" src="static/images/client--john_hopkins-grey.png">
    <img class="client-img" src="static/images/client--kra-grey.png">
    <img class="client-img" src="static/images/client--kratos-grey.png">
    <img class="client-img" src="static/images/client--monashuni-grey.png">
    <img class="client-img" src="static/images/client--novonordisk-grey.png">
    <img class="client-img" src="static/images/client--nus-grey.png">
    <img class="client-img" src="static/images/client--sciex-grey.png">
    <img class="client-img" src="static/images/client--shimadzu-grey.png">
    <img class="client-img" src="static/images/client--sigma-grey.png">
    <img class="client-img" src="static/images/client--thermo-grey.png">
    <img class="client-img" src="static/images/client--tsri-grey.png">
    <img class="client-img" src="static/images/client--ucsf-grey.png">
    <img class="client-img" src="static/images/client--vanderbilt_uni-grey.png">
    <img class="client-img" src="static/images/client--wwr-grey.png">
</div>
</section>
{% endblock%}
