{% extends "base.html" %}
{% block title %} How to order {% endblock %}
{% block page_content %} 
<section class="">
    <h1 class="section-title">How to order</h1>
    <div class="subtext">
        To order products from LaserBio Labs please consult our catalog and
        email us a Purchase Order from your Company or Institution. We also
        accept email orders from repeat customers. Orders by fax or postal
        service are also accepted.<br><br>

        To request a quote or additional administrative information please
        contact us by email with your product requirements.<br><br>

        We do not request pre-payment of orders. An invoice is sent
        electronically at the time of shipment, including bank account
        information.<br><br>

        All prices are quoted and invoiced exclusively in EUROS. Payment
        must be made in EUROS by direct bank transfer.<br><br>

        All transfer-related bank fees should be borne by the paying
        organization. LaserBio Labs will not accept the deduction of bank
        fees from the amount invoiced. In such case, another invoice
        including additional bank fees may be emitted or the bank fees may
        be added to the customer's next order.
        <div>
</section>

{% endblock%}
